
body{
    background-color: black;
}

#banner {
    width: 1200px; 
    height: 400px;
    margin: auto;
    background: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

ul {
    list-style: none;
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    
}

ul li {
    float: left;
    background-color: rgb(88, 86, 86);
    width: 25%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    
    
}

ul li a {
    
    color: white;
    text-decoration: none;
    display: block;
}